{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>

    <link rel="icon" type="image/x-icon" href="{% static '/crud/images/logo/svg/techhy-website-favicon-color.svg' %}">
    <link rel="stylesheet" href="{% static '/crud/css/style.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="left-container container">
                <a class="navbar-brand" href="#">
                    <img src="{% static '/crud/images/logo/svg/logo-purple.svg' %}"
                        alt="logo" />
                </a>
                <div class="search-bar">
                    <i data-feather="search" class="icon"></i>
                    <input class="search-input-field" type="text" placeholder="Search anything..">
                </div>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Discover</a></li>
                </ul>
            </div>

            <div class="right-container container">
                <div class="icon-wrapper">
                    <i data-feather="shopping-cart" class="icon"></i>
                </div>
                <div class="icon-wrapper">
                    <i data-feather="user" class="icon"></i>
                </div>
            </div>
        </div>

    </nav>

    {% block start %}

    {% endblock %}
</body>

<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
</script>

</html>