{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="left-container container">
            <a class="navbar-brand" href="{% url 'techhy:index' %}">
                <img src="{% static '/assets/logo/svg/logo-purple.svg' %}" alt="logo" />
            </a>
            <div class="container-fluid">
                <form class="d-flex" method="get" role="search">
                    {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search anything.." aria-label="Search" name="search">
                  <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div>
            <ul>
                <li><a href="{% url 'techhy:contact' %}">Contact</a></li>
                <li><a href="{% url 'users:register' %}">Signup</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            </ul>
        </div>

        <div class="right-container container">
            <div class="icon-wrapper">
                <i data-feather="shopping-cart" class="icon"></i>
            </div>
            <div class="icon-wrapper">
                <i data-feather="user" class="icon"></i>
            </div>
        </div>
    </div>

</nav>