{% extends "base.html" %}

{% block start %}
<!-- Particular Product -->
{% if product %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.product_image.url}}"
                        alt="productimage" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">{{product.brand}}</div>
                    <h1 class="display-5 fw-bolder">{{product.product_name}}</h1>
                    <div class="fs-5 mb-5">
                        <span>Rs {{product.price}}</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="text-center col"><a class="btn btn-outline-primary mt-auto"
                                href="{% url 'techhy:updateProduct' product.id %}" type="submit">Update</a></div>
                            <div class="text-center col"><a class="btn btn-outline-danger mt-auto"
                                    href="{% url 'techhy:deleteProduct' product.id %}" type="submit">Delete</a></div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</form>

{% endif %}



{% endblock %}